* {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

body {
    background-color: #ecf0f1;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: #e74c3c;
    color: #eee;
    font-family: "Roboto Mono", monospace;
    padding: 15px;
}

nav {
    padding: 10px;
    background-color: #34495e;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px 0 10px;
    transition-duration: 500ms;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2c3e50;
    transition-duration: 500ms;
}

main {
    width: 65%;
    margin: auto;
    min-height: 100vh;
}

footer {
    background-color: #2c3e50;
    color: white;
    position: relative;
    bottom: 0;
    padding: 25px;
}

pre {
    background-color: #bdc3c7;
    padding: 25px;
}

.deemphasis {
    font-size: small;
}

.welcome-blurb-container {
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}
.post-card {
    background-color: #bdc3c7;
    padding: 25px;
    border: 2px solid #7f8c8d;
    border-radius: 8px;
    margin: 25px;
}

@media (width <= 1024px){
    header {
        text-align: center;
    }

    nav {
        text-align: center;
    }

    footer {
        text-align: center;
    }

    main {
        width: 90%;
    }

    .welcome-blurb-container {
        text-align: center;
        width: 90%;
    }

    .post-card {
        text-align: center;
    }


}